<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conexión</title>
</head>
<body>
    <h1>Conexión</h1>
    <form action="/crear-conexion" method="POST" id="nuevaConexion">
        <label for="conexion">Ingresa datos para tu conexión:</label>
        <label for="host">Host:</label>
        <input type="text" id="host" name="host" required>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Ir a Bases de Datos</button>
    </form>
</body>
</html>